'.feature':
  'Examples':
    'prefix': 'Es'
    'body': 'Esempi:\n  | $1 |'
  'Feature':
    'prefix': 'Fu'
    'body': 'Funzionalità: \n\tPer \n\tCome|Nell\'ambito \n\tBisogna '
  'Scenario Outline':
    'prefix': 'Sch'
    'body': 'Schema dello scenario: \n\tDato \n\tQuando \n\tAllora '
  'Scenario':
    'prefix': 'Sc'
    'body': 'Scenario: \n\tDato \n\tQuando \n\tAllora '
  'Contexte':
    'prefix': 'co'
    'body': 'Contesto:\n\tDato \n\tE '
