'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Behat IT'
        'submenu': [
          {
            'label': 'Check syntax of current file'
            'command': 'behat-it-atom:check-syntax'
          }
        ]
      }
    ]
  }

]
